* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* variables */
    --background-color: #097981;
    --white: #FFF;
}

.container {
    width: 100%;
    position: relative;
}

.navigation-bar {
    width: 100%;
    height: 70px;

    overflow: hidden;
    display: flex;
    background-color: var(--background-color);

    /* align-items: center; */
    justify-content: space-between;
    padding: 0px 30px;

    transition: 0.3s ease-in-out;
}

.navigation-bar.full {
    height: 100vh;
}

.navigation-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;

    transition: all 0.3s ease-in;
}

.navigation-item {
    /* positioning */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    /* font styling */
    color: var(--white);
    font-size: 20px;
    font-weight: 400;
}

.navigation-item:active {
    text-decoration: underline;
    text-underline-offset: 8px;
}

.navigation-profile {
    display: none;
}

.navigation-close {
    /* remove default button styling */
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;

    animation: 3s ease-in-out;

    position: relative;
    display: block;
    height: 100%;
}

.navigation-close svg {
    position: absolute;
    top: 25px;
    right: 0;
    transition: 0.3s ease-in-out;
}

.navigation-logo svg {
    position: absolute;
    top: 20px;
    left: 30px;
}

.hidden {
    opacity: 0;
}

svg.hidden {
    transform: rotate( 180deg ) scale( 0 );
}

.visible {
    display: flex;
}

@media screen and (min-width: 1024px) {

    .navigation-bar {
        width: 100%;
        height: 70px !important;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        height: 70px;
        align-items: center;
    }
    
    .navigation-bar:nth-child(-1) {
        border: 1px solid;
        /* justify-content: flex-end; */
    }
    
    .navigation-items {
        display: flex;
        flex-direction: row;
    }
    
    .navigation-item {
        
    }

    .navigation-close {
        display: none;
    }
    
}