.button {
  align-items: center;
  border-bottom: 1px solid var(--gray-3);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  gap: 8px;
  height: 40px;
  justify-content: center;
  outline: none;
  padding: 0 20px;
  width: 100%;
}

.primary {
  background-color: var(--purple);
  color: var(--white);
}

.secondary {
  background-color: var(--gray-4);
  border: 1px solid var(--gray-3);
}

.special {
  background:
    linear-gradient(var(--white), var(--white)) padding-box,
    var(--purple-gradient) border-box;
  border: 2px solid transparent;
}

@media (min-width: 1160px) {
  .button {
    width: auto;
  }
}
