.button {
  align-items: center;
  border-radius: 4px;
  display: flex;
  font-size: var(--font-x-small);
  font-weight: 700;
  gap: 8px;
  height: 40px;
  justify-content: center;
  padding: 0 20px;
  width: 100%;
}

.button:disabled,
.button:disabled:hover {
  background-color: var(--gray-1);
  opacity: 0.7;
  cursor: not-allowed;
}

.primary {
  background-color: var(--purple-1);
  color: var(--white);
}

.primary:hover {
  background-color: var(--purple-2);
}

.primary:active {
  background-color: var(--purple-3);
}

.secondary {
  background-color: var(--gray-4);
  border: 1px solid var(--gray-3);
  color: var(--black);
}

.secondary:hover {
  background-color: var(--gray-5);
}

.secondary:active {
  background-color: var(--gray-6);
}

.tertiary {
  background:
    linear-gradient(var(--white), var(--white)) padding-box,
    var(--purple-gradient) border-box;
  border: 2px solid transparent;
}

.tertiary:hover {
  background:
    linear-gradient(var(--blue-1), var(--blue-1)) padding-box,
    var(--purple-gradient) border-box;
}

.tertiary:active {
  background:
    linear-gradient(var(--blue-2), var(--blue-2)) padding-box,
    var(--purple-gradient) border-box;
}

@media (min-width: 1160px) {
  .button {
    width: auto;
  }
}
