.button {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--gray-3);
  border-radius: 3px;
  display: flex;
  background-color: var(--purple);
  gap: 4px;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 20px;
  width: 100%;
}

@media screen and (min-width: 1160px) {
  .button {
    width: auto;
  }
}
