.timeEntry {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  border: 1px solid var(--gray-3);
  border-radius: 4px;
  padding: 0 16px;
  position: relative;
  border-left: 4px solid var(--gray-1);
}

.development {
  border-left: 4px solid var(--torqoise-1);
}

.design {
  border-left: 4px solid var(--purple-4);
}

.client {
  color: var(--gray-1);
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.billableArea {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.billable {
  color: var(--green-1);
}

.nonBillable {
  color: var(--red-1);
}

.timeEntryTitle {
  display: flex;
  flex-direction: column;
}

.timeInterval {
  color: var(--gray-1);
  font-weight: 700;
}

.totalTime {
  color: var(--gray-2);
}

.timeContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  text-align: right;
}

.timeArea {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1160px) {
  .timeEntryTitle {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .timeEntryTitle {
    flex-direction: row;
  }
}
