.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.entries {
  display: flex;
  flex-direction: column;
}

.dayContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
