.container {
  background: var(--gray-4);
  padding: calc(var(--header-height) + var(--subheader-height) + 20px) 10px 40px;
}

@media (min-width: 1160px) {
  .container {
    padding: calc(var(--header-height) + var(--subheader-height) + 40px) 180px
      40px;
  }
}
