.subheader {
  align-items: center;
  border-bottom: 1px solid var(--gray-3);
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  left: 0;
  padding: 20px;
  position: relative;
  right: 0;
  top: 0;
}

.titles {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.subtitle {
  color: var(--gray-2);
  font-family: "MaisonNeue";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.divider {
  display: none;
}

.text {
  color: var(--white);
  font-family: "MaisonNeue";
  font-size: 14px;
  font-weight: 700;
}

@media screen and (min-width: 1160px) {
  .subheader {
    flex-direction: row;
    height: 72px;
    padding: 0 32px;
  }

  .divider {
    background-color: var(--gray-2);
    display: block;
    height: 14px;
    width: 1px;
  }

  .titles {
    gap: 20px;
    justify-content: flex-start;
    width: auto;
  }
}
