.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (min-width: 1160px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid red;
    justify-content: space-between;
  }
}
