.link {
  color: var(--white);
}

.link:active,
.link:hover,
.itemActive {
  color: var(--white);
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.item {
  align-items: center;
  display: flex;
  font-size: var(--font-large);
  font-weight: 600;
  height: 50px;
  justify-content: center;
}
