:root {
  --background: #ffffff;
  --break-point-mobile: 1024px;
  --header-height: 72px;
  --primary: #097981;
  --white: #fff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: var(--background);
  color: var(--foreground);
  font-family: MaisonNeue, Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding-top: var(--header-height);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
