:root {
  --black: #000;
  --blue-1: #e4f2f3;
  --blue-2: #bbdfe1;
  --gray-1: #4b5464;
  --gray-2: #7f8ba4;
  --gray-3: #e6eaee;
  --gray-4: #f5f7f9;
  --gray-5: #f1f2f2;
  --gray-6: #e9e9e9;
  --green-1: #2da800;
  --header-height: 72px;
  --primary: #097981;
  --purple-gradient: linear-gradient(
    92deg,
    #4f88ef 0%,
    #906ef0 21.35%,
    #b378d7 39.58%,
    #9384d1 57.81%,
    #6086ce 77.08%,
    #0eb696 100%
  );
  --purple-1: #9358b7;
  --purple-2: #3a005d;
  --purple-3: #170025;
  --red-1: #a80000;
  --subheader-height: 72px;
  --white: #fff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
}

input,
textarea,
button,
select {
  font: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h5 {
  font-size: 18px;
  font-weight: 500;
}
